@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* Prevents overflow on the x-axis */
    overflow-x: hidden;
}

.mouse {
	width: 50px;
	height: 90px;
	border: 3px solid #888;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: 60px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #555;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s 3;
		-webkit-animation: wheel 2s 3;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 10px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 10px;
	}
}